BLUESKY_HANDLE=yourhandle.bsky.social
BLUESKY_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx
OPENALEX_API_KEY=your_openalex_key
RESEND_API_KEY=re_xxxxx
SENDER_EMAIL=digest@yourdomain.com
RECIPIENT_EMAIL=you@gmail.com
